<div class="wrapper">

    <div class="main">

        <!-- <div class="col-12 d-flex "> -->

            <div class="col-lg-4 col-xs-12 mb-3 mb-md-0 ">
                <img src="assets/Logo - YellowZip Medium.png" width="auto" height="60" alt="footer logo">

                
            </div>
            
            <div class="col-lg-2 col-sm-12 ">

                <a><b>Site Navigation</b></a><br>
                <a>Home</a><br>
                <a>Adverise</a><br>
                <a>About</a><br>

            </div>

            <div class="col-lg-2 col-sm-12">

                <a><b>Aggrements</b></a><br>
                <a>Privacy</a><br>
                <a>Terms of Use</a><br>
                <a>Terms of Abuse</a><br>

            </div>


            <div class="col-lg-2 col-sm-12 ">

                <a><b>SignUp</b></a><br>
                <a>Neighbour</a><br>
                <a>Businesses</a><br>
                <a>Agencies</a><br>
                <a>Franchisors</a><br>

            </div>

            <div class="col-lg-2 col-sm-12">

                <a><b>Stay Conneced</b></a><br>
                <span>
    
                    <img src="assets/Group.png" alt="logo">
                    <a class="ml-1">Yellow Zip</a>
                </span>
            </div>
            

        <!-- </div> -->


        <div>

           


           


           


           
            
           

        </div>

    </div>

    <hr >
    <p class="text-center">Copyright &#64;2023. YellowZip All rights reserved</p>

</div>