


    <nav class="nav d-flex align-items-center justify-content-between px-4 py-3">
        <!-- Hamburger menu for mobile -->
        <i class="uil uil-bars navOpenBtn d-md-none"></i>
        
        <!-- Logo and buttons -->
        <span class="logo d-flex align-items-center ">
          <img src="assets/Logo - YellowZip Medium.png" height="30" alt="footer logo">

          <span class="d-flex justify-content-between border p-2 ml-md-1">
            <!-- <span> -->
                <p>Car Detailers Biz</p>
            <!-- </span> -->
            <span>

                <p class="ml-md-2">   | 

                    <img src="assets/icons8.png" height="20" alt="footer logo">
                    <input type="text" placeholder="Houston, TX 77077" class=" ml-md-2 ">
                    <img src="assets/Vector-6.png" height="20" alt="footer logo">
                </p>
            </span>
          </span>

          <button class="custom-pill-btn ml-3 d-none d-md-inline-block">About</button>
          <button class="custom-pill-btn ml-3 d-none d-md-inline-block">Advertise</button>
        </span>
      
        <!-- Navigation Links (Hidden in mobile by default) -->
        <ul class="nav-links d-none d-md-flex align-items-center">
          <li><a href="#"><img src="assets/Vector-4.png" height="20" alt="footer logo"><br>Neighbourly News</a></li>
          <li><a href="#"><img src="assets/Vector-5.png" height="20" alt="footer logo"><br>Directory</a></li>
          <li><a href="#"><img src="assets/Vector-3.png" height="20" alt="footer logo"><br>Ask a Pro</a></li>
          <li><a href="#"><img src="assets/Frame 001.png" height="35" alt="footer logo"><br>Jobs</a></li>
          <li><a href="#"><img src="assets/Vector-2.png" height="20" alt="footer logo"><br>Biz for Sale</a></li>
          <li><a href="#"><img src="assets/Vector-1.png" height="20" alt="footer logo"><br>Fund Me</a></li>
          <li><a href="#"><img src="assets/Vector.png" height="20" alt="footer logo"><br>Details</a></li>
        </ul>
      
       
      
        <!-- Mobile search icon -->
        <i class="uil uil-search search-icon d-md-none" id="searchIcon"></i>
      </nav>
      