<section>
  <div class="home">
    <div class="home_layout d-flex justify-content-between ml-md-5 mt-5 ">

      <app-header></app-header>

      <div class="">



        <div class="d-flex justify-content-between flex-wrap bg_white p-md-3 b-radious">
          <h4>An Open Honest Neighbourhood Platform</h4>
          <p class="mt-1 ml-3 text_color"><b>Coming 2024</b></p>
        </div>
        <br />
  
        <div class="bg_white p-3 b-radious">
          <h4><b>Powered by</b></h4>
          <br />
          <h4><b class="text-danger">Neighborhood Stars That Truly Care</b></h4>
  
          <div class="d-flex justify-content-between">
            <div class="">
              <h6 class="mr-5 text_color">Neighbourhood News</h6>
  
              <div class="">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">School Happenings</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Advise</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Events</p>
                </div>
              </div>
            </div>
  
            <div>
              <h6 class="mr-5 text_color">Small Bussiness Directory</h6>
  
              <div class="">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">400+ Categories</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Free Listing</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Most Liked</p>
                </div>
              </div>
            </div>
  
            <div>
              <h6 class="text_color">Ask a Pro</h6>
  
              <div class="">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Business Leads-Bids</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">400+ Categories</p>
                </div>
  
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Tick.png"
                    alt="icon"
                    width="auto"
                    height="10px"
                  />
                  <p class="ml-2 mt-3 text-danger">Neighbourhood Comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex justify-content-center">
  
          <button class="custom-pill-btn d-inline-block mr-3 mt-3">
            <img src="assets/unlock.png" alt="Icon" class="btn-icon" width="20px">
            <span class="ml-2 mt-2">Star Sign In</span>
            </button>
          <button class="custom-pill-btn d-inline-block mr-3 mt-3">Star Sign-up</button>
          <button class="custom-pill-btn d-inline-block mt-3">Star Program</button>
  
        </div>


        
      </div>




      

      <div >

       <div></div>
        

      </div>
      
      <br>
     

      <!-- <div class="bg_white b-radious mt-5">
        <h4 class="text-danger text-center">Be A Star</h4>
        <div class="d-flex justify-content-center">

          <span class="d-flex align-items-center">
           
            <p class="align-self-center  " style="font-size: 30px;"><b>.</b></p>
            <p class="ml-2 mt-3 "><b>Real Estate Agents</b> </p>
          </span>
          <span class="d-flex align-items-center">
            
            <p class="align-self-center  ml-3 " style="font-size: 30px;"><b>.</b></p>
            <p class="ml-2 mt-3 "><b>Insurance</b> </p>
          </span>
          <span class="d-flex align-items-center">
           
            <p class="align-self-center  ml-3 " style="font-size: 30px;"><b>.</b></p>
            <p class="ml-2 mt-3 "><b>Finance</b> </p>
          </span>
          <span class="d-flex align-items-center">
           
            <p class="align-self-center ml-3" style="font-size: 30px; "><b>.</b></p>
            <p class="ml-2 mt-3 "><b>Beauty</b> </p>
          </span>




        </div>
        
      </div> -->


    </div>

  
    
  </div>
</section>

<div class="container mb-3">
  <section class="mb-5 mt-5">
    <h3 class="text-center">Three SignUp Options</h3>
    <h6 class="text-center">Something For Everyone</h6>
  </section>

  <!-- <div class="card">

        <div class="row ">

            <img src="assets/Rectangle-4.jpg" alt="rectangle-4" height="300px" width="50%">

            <div class="ml-3 align-items-bottom">

                <h2>For Neighbours</h2>
                <p>Explore a vast array of over 400 categories and interests,all conveniently located nearby for your browsing pleasure.</p>
                <span>
                    <h6>Sign up for neighbourhood news tailored to your interests</h6>
                </span>

                <button class="btn btn-rounded">SignUp</button>

            </div>
            
        </div>

    </div> -->

  <div class=" ">
    <div class="row d-flex align-items-stretch">
      <div class="img-card col-md-7">
        <img
          src="assets/Rectangle-4.jpg"
          alt="rectangle-4"
          class="img-fluid"
          height="400px"
        />
      </div>
      <div class="card pl-3 col-md-5 text-section">
        <h2>For Neighbours</h2>
        <p>
          Explore a vast array of over 400 categories and interests, all
          conveniently located nearby for your browsing pleasure.
        </p>
        <p class="b-color pl-2">
          <b>Sign up for neighbourhood news tailored to your interests</b>
        </p>
        <button class="custom-pill-btn d-inline-block">Sign Up</button>
      </div>
    </div>
  </div>

  <section>
    <div class=" ">
      <div class="row d-flex align-items-stretch mt-3">
        <div class="card2 pr-3 col-md-5 text-section">
          <h2>For Businesses</h2>
          <p>
            Add your bussiness to a modren-day local directory offering
            affordable leads and social engaggement in our Neighbourhood News
            program.
          </p>
          <p class="b-color2 pl-2">
            <b
              >The same control panel for a home-based bussiness as a national
              business. Grow customers near you. Free Listing
            </b>
          </p>
          <button class="custom-pill-btn">Sign Up</button>
        </div>

        <div class="img-card-right col-md-7">
          <img
            src="assets/Rectangle-3.jpg"
            alt="rectangle-3"
            class="img-fluid"
            height="400px"
          />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mt-3">
      <div class="row d-flex align-items-stretch">
        <div class="img-card col-md-7">
          <img
            src="assets/Rectangle-2.jpg"
            alt="rectangle-4"
            class="img-fluid"
            height="400px"
          />
        </div>
        <div class="card pl-3 col-md-5 text-section">
          <h2>For Agencies & Multi Brands</h2>
          <p>
            A single dashboard to centralize and oversee multiple brands and
            clients. Bring ou client on board with YellowZip and empower them to
            connect with their local community
          </p>
          <!-- <p class="b-color pl-2"><b>Sign up for neighbourhood news tailored to your interests</b></p> -->
          <button class="custom-pill-btn">Sign Up</button>
        </div>
      </div>
    </div>
  </section>

  <!-- 
    <section>
        <div class="row mt-3 card3">
          <img src="assets/Rectangle-1.jpg" alt="rectangle-1" class="img-fluid p-3 mb-1" height="100%">
      
          <div class="col-12 ">
            <div class=" col-6 pl-3">
              <h3>Neighbourly News</h3><br>
              <p>Get the neighbourhood scoop here.</p>
            </div>
      
            <div class=" col-6 pr-3">
              <p class="text-muted pr-4">You need to be an authorized user to post</p>
              <button class="btn btn-primary">Sign Up</button>
            </div>
          </div>

          <p class="pl-3 pr-4">Free speech, no bullying weekly world events , school updates, advice , photps ,lost and found, `no negatives ` zone, `comment freely` zone, no mention of businesses (that`s whynwe have a free Dictionary), add no  ads,Ask ,Comment,engage,learn and have fun.  </p>

        </div>
      </section> -->

  <section>
    <div class="container mt-3 card3">
      <img
        src="assets/Rectangle-1.jpg"
        alt="rectangle-1"
        class="img-fluid p-3 mb-1"
        height="auto"
      />

      <div class="row">
        <div class="col-md-6 pl-3">
          <h3>Neighbourly News</h3>
          <br />
          <p>Get the neighbourhood scoop here.</p>
        </div>

        <div
          class="col-md-6 d-flex justify-content-center align-items-start pr-3"
        >
          <p class="text-muted pr-4">
            You need to be an authorized user to post
          </p>

          <button class="custom-pill-btn">Sign Up</button>
        </div>
      </div>

      <p class="pl-1 pr-4">
        Free speech, no bullying weekly world events, school updates, advice,
        photos, lost and found, 'no negatives' zone, 'comment freely' zone, no
        mention of businesses (that’s why we have a free Dictionary), add no
        ads, Ask, Comment, engage, learn, and have fun.
      </p>
    </div>
  </section>

  <section class="mt-3 mb-3">
    <div class="row align-items-start">
      <!-- Left Side: Vertical Image -->
      <div class="col-md-6 b-radious">
        <img
          src="assets/Rectangle.jpg"
          alt="Vertical Image"
          class="img-fluid b-radious w-100"
          style="height: 60vh; object-fit: cover"
        />
      </div>
      <!-- Right Side: Two Horizontal Divs -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-12 mb-3 bg1 b-radious">
            <div class="box p-3 b-radious">
              <h3>Neighbourhood Committed</h3>

              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>

                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>

                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>
              </div>

              <button class="custom-pill-btn">Advertise</button>
            </div>
          </div>
          <div class="col-12 bg2 b-radious">
            <div class="box p-3 b-radious">
              <h3>Why Advertise With Us</h3>

              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>

                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>

                <div class="d-flex align-items-center">
                  <img
                    src="assets/Ellipse.png"
                    alt="icon"
                    width="auto"
                    height="20px"
                  />
                  <p class="ml-2 mt-3">Zip code fucused</p>
                </div>
              </div>

              <button class="custom-pill-btn">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
